<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/LeetCode_logo_rvs.png')}}" />
    <title>LeetCode Progress</title>
</head>
<body>
    <div id="app">
        <div class="app-title app-card">
            <a href="/">
                <div class="title">
                    <img src="{{ url_for('static', filename='img/LeetCode_logo_rvs.png')}}" alt="leetcode logo"/>
                    <h1>LeetCode Progress</h1>
                </div>
            </a>
            <div class="app-title-options">
                {% block problemslist%}
                <button class="app-title-option" type="submit" onclick="GoTo('problems')">
                    <i class="fa fa-list"></i>
                </button>
                {% endblock %}
                {% block refresh%}
                <form action="/refresh" method="post">
                    <button class="app-title-option" type="submit">
                        <i class="fa fa-refresh"></i>
                    </button>
                </form>
                {% endblock %}
            </div>
        </div>
        {% block searchbar %}
            <div class="app-searchbar app-card">
                <input id="searchbar" type="text" placeholder="Search.." name="search">
                <button type="submit" onclick="Find()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        {% endblock %}
        {% block content %}
            {% for userData in data %}
            <div class="app-card">
                <div class="app-card-info">
                    <img src="{{userData[1]}}" alt="Avatar" />
                    <div>
                        <a href="{{userData[2]}}" target="_blank">
                            <p class="app-card-info-fullname">{{userData[0]}}</p>
                        </a>
                        <p class="app-card-info-nbrsolved">{{userData[3]}} solved</p>
                    </div>
                </div>
                <ul>
                    {% for ac in userData[4] %}
                    <li>
                        <a class="app-card-problem problem-card" href="{{ ac['link'] }}" target="_blank">
                            <div>
                                <p class="problem-card-title-name">{{ ac['title'] }}</p>
                                <p class="problem-card-title-date">{{ ac['time'] }}</p>
                            </div>
                            {% if ac['difficulty'] == 'Easy' %}
                            <p class="problem-card-difficulty"
                                style="color: var(--text-color-easy); background-color: var(--background-color-easy);">
                                {% elif ac['difficulty'] == 'Medium' %}
                                <p class="problem-card-difficulty"
                                    style="color: var(--text-color-medium); background-color: var(--background-color-medium);">
                                    {% else %}
                                <p class="problem-card-difficulty"
                                    style="color: var(--text-color-hard); background-color: var(--background-color-hard);">
                                    {% endif %}
                                    {{ ac['difficulty'] }}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>