{% extends "index.html" %}
{% block content %}
<div class="app-card">
    <div class="app-card-info">
        <img src="{{avatar}}" alt="Avatar"/>
        <div>
            <a href="{{url}}" target="_blank">
                <p class="app-card-info-fullname">{{fullname}}</p>
            </a>
            <p class="app-card-info-nbrsolved">{{nbr_problem_solved}} solved</p>
        </div>
    </div>
    <ul>
        {% for ac in recent_ac %}
        <li>{{ ac.text }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}