{% extends "index.html" %}
{% block refresh %}
{% endblock %}
{% block searchbar %}
{% endblock %}
{% block content %}
<div class="app-card">
    <div class="app-card-info">
        <img src="{{avatar}}" alt="Avatar"/>
        <div>
            <a href="{{url}}" target="_blank">
                <p class="app-card-info-fullname">{{fullname}}</p>
            </a>
            <p class="app-card-info-nbrsolved">{{nbr_problem_solved}} solved</p>
        </div>
    </div>
    <ul>
        {% for ac in recent_ac %}
        <li>
            <a class="app-card-problem problem-card" href="{{ ac['link'] }}" target="_blank">
                <div>
                    <p class="problem-card-title-name">{{ ac['title'] }}</p>
                    <p class="problem-card-title-date">{{ ac['time'] }}</p>
                </div>
                {% if ac['difficulty'] == 'Easy' %}
                <p class="problem-card-difficulty" style="color: var(--text-color-easy); background-color: var(--background-color-easy);">
                {% elif ac['difficulty'] == 'Medium' %}
                <p class="problem-card-difficulty" style="color: var(--text-color-medium); background-color: var(--background-color-medium);">
                {% else %}
                <p class="problem-card-difficulty" style="color: var(--text-color-hard); background-color: var(--background-color-hard);">
                {% endif %}
                {{ ac['difficulty'] }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}